h1 {
    color: #d67e87;
}

.tengah {
    text-align: center;
}

img {
    width: 300px;
}

#judul {
    font-weight: bold;
}

.merah {
    color: red;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-alpha;
}

table,
td {
    border: red 2px solid;
}

table {
    border-collapse: collapse;
}

th {
    background-color: black;
    color: white;
}

a {
    display: block;
}